$lm_first: #0079ff;
$lm_second: #697c9a;
$lm_third: #4b6a9b;
$lm_fourth: #2b3442;
$lm_fifth: #f6f8ff;
$lm_sixth: #fefefe;

$dm_first: #0079ff;
$dm_second: #ffffff;
$dm_third: #f6f8ff;
$dm_fourth: #1e2a47;
$dm_fifth: #222731;

$light_bg: #f2f2f2;
$dark_bg: #141d2f;

$black: #000000;
$white: #ffffff;
