body {
  background-color: $light_bg;
  &[dark] {
    background-color: $dark_bg;
  }
}

.df-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.df-form {
  width: 100%;
  max-width: 730px;
  @include lg {
    max-width: 570px;
  }
  .df-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    .df-nav-logo {
      font-size: 26px;
      font-weight: bold;
    }
    .df-nav-theme {
      cursor: pointer;
      user-select: none;
      span {
        font-weight: bold;
        letter-spacing: 2.5px;
        align-items: center;
        svg {
          margin-left: 8px;
        }
      }
      .df-nav-theme-light {
        display: none;
        color: $white;
        &:hover {
          color: $lm_second;
        }
      }
      .df-nav-theme-dark {
        display: flex;
        color: $lm_second;
        &:hover {
          color: $dm_fifth;
        }
      }
    }
  }
}

body[dark] .df-form {
  .df-nav {
    .df-nav-logo {
      color: $white;
    }
    .df-nav-theme {
      .df-nav-theme-light {
        display: flex;
      }
      .df-nav-theme-dark {
        display: none;
      }
    }
  }
}

.df-search-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  .df-search-wrapper {
    width: calc(100% - 100px);
    position: relative;
    .df-search {
      display: block;
      width: 100%;
      height: 100%;
      padding: 15px 20px 15px 70px;
      border: none;
      background: none;
      outline: none;
      font-size: 18px;
      color: $dm_fifth;
      &::placeholder {
        color: $lm_third;
      }
      @include md {
        padding-left: 40px;
        font-size: 13px;
      }
    }
    svg {
      position: absolute;
      left: 30px;
      top: 50%;
      transform: translate(-50%, -50%);
      @include md {
        left: 15px;
      }
    }
    &.df-search-wrapper-error {
      .df-search {
        padding-right: 120px;
      }
      &::after {
        content: "No results";
        position: absolute;
        right: 15px;
        top: 16px;
        color: #ff0000;
        font-weight: bold;
      }
    }
  }
  .df-search-button {
    width: 100px;
    border-radius: 10px;
    background-color: $lm_first;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    color: $white;
    cursor: pointer;
    &:hover {
      background-color: lighten($lm_first, 10);
    }
  }
}

body[dark] .df-search-card {
  .df-search-wrapper {
    .df-search {
      color: $white;
    }
  }
}

.df-card-content {
  padding: 50px;
  display: flex;
  @include md {
    padding: 20px;
  }
  .df-card-content-left {
    width: 120px;
    @include lg {
      display: none;
    }
    .df-card-content-image {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  .df-card-content-right {
    width: calc(100% - 120px);
    padding-left: 50px;
    .df-card-content-right-image {
      display: none;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    @include lg {
      width: 100%;
      padding-left: 0px;

      .df-card-content-all {
        display: flex;
      }
      .df-card-content-right-image {
        display: block;
      }
    }
    .df-card-content-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      .df-card-content-info-right {
        color: $lm_second;
        font-size: 15px;
        @include md {
          font-size: 13px;
        }
      }
      @include lg {
        display: block;
        padding-left: 20px;
      }
      @include md {
        h1 {
          font-size: 16px;
        }
        h3 {
          font-size: 13px;
        }
      }
    }
    .df-card-content-bio {
      color: $lm_third;
      margin-bottom: 20px;
      @include md {
        font-size: 13px;
      }
    }
    .df-card-content-values {
      display: flex;
      border-radius: 10px;
      background-color: $light_bg;
      padding: 20px;
      margin-bottom: 20px;
      .df-card-content-value {
        width: 100%;
        @include md {
          display: flex;
          flex-direction: column;
          text-align: center;
          font-size: 11px;
          h2 {
            font-size: 16px;
          }
        }
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
    .df-card-content-links {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      .df-card-content-link {
        color: $lm_third;
        width: 50%;
        display: flex;
        align-items: center;
        height: 40px;
        @include md {
          width: 100%;
          span,
          a {
            font-size: 13px;
          }
        }
        svg {
          margin-right: 20px;
        }
        & a {
          color: $lm_third;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

body[dark] .df-card-content {
  .df-card-content-right {
    .df-card-content-info {
      .df-card-content-info-left {
        h1 {
          color: $white;
        }
      }
      .df-card-content-info-right {
        color: $white;
      }
    }
    .df-card-content-bio {
      color: $white;
    }
    .df-card-content-values {
      background-color: $dark_bg;
      .df-card-content-value {
        color: $white;
      }
    }
    .df-card-content-links {
      .df-card-content-link {
        color: $white;
        & a {
          color: $white;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
